/* Universal Selector */
* {
    box-sizing: content-box;
}

/* Body format */
body {
    /* Sans Serif fonts added in order of preference */
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

/* Setting paragraph format unless otherwise defined */
p {
    font-size: 16px;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
    color: white;
}

.welcome {
    text-align: center;
    display: block;
}

.question-container, .navigation, .result, .final-score, .highscores-page {
    text-align: center;
}

.answer-list {
    display: table;
    margin: 0 auto;
}

.answer-list ol li {
    padding-bottom: 2.5px;
}

.highscores {
    cursor: pointer;
    color: white;
}

.initials-list {
    text-align: center;
    background-color: lavender;
    list-style: none;
    padding: 5px;
}

button {
    cursor: pointer;
}